# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter and IPython
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.swp

# PDF Upload temp files
*.pdf

# Build / Dist folders
build/
dist/
*.egg-info/
